body {
    background: white url("images/sky.jpeg") no-repeat;
}


.font {
  font-family: monospace, serif;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px 0 0 15%;
  font-family: monospace, serif;
}

.lil-space {
  padding-right: 10px;
}
