img {
  max-width: 100%;
  height: auto;
}

body {
    background: white url("images/sky.jpeg") no-repeat;
    font-family: monospace, serif;
}

.mobile-center {
  margin: auto;
  width: 85%;
  /* padding: 10px 0 0 15%; */
}

.mobile-form {
  text-align: center;
  padding: 25px 0 0 0;
}

.space {
  padding-bottom: 7px;
}


/* @media (min-width: 426px) {
  .space {
    background-color: green;
    padding-bottom: 25px
  }
} */

@media (min-width: 1024px) {
  .image-pad {
    padding-left: 10%;
    padding-right: 10%
  }
}

.img-responsive {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}
