body {
    background: white url("images/sky.jpeg") no-repeat;
}

@media (min-height: 788px) {
  body {
    background: white url("images/sky.jpeg") repeat;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.font {
  font-family: monospace, serif;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px 0 0 15%;
  font-family: monospace, serif;
}

.lil-space {
  padding-right: 10px;
}


p {
  color: red;
}

@media (max-width: 400px) {
    p {
      color: blue;
    }
}
