{% load static %}
<DOCTYPE html>

<link rel="stylesheet" type="text/css" href="{% static 'grandma/style2.css' %}">

<html>
  <head >
    <title>Weather For Grandma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="center mobile-center">
    <form method="POST" class="mobile-form">
      {% csrf_token %}
      <label for="city" class="lil-space">Where Grandma At?</label>
      <span class="lil-space"><input type="text" name="city"></span>
      <input type="submit" name="submit" value="Submit">
    </form>

    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}

    {% if f %}
        {% if output == 'swim suit' %}
            <img src="{% static 'grandma/images/swimsuit.jpeg' %}" alt="Time to go swimming!"/>
            <p>It's hot! {{ f }} degrees in {{ last_city }} in fact, time to go swimming Grandma!</p>
        {% endif %}
        {% if output == 'tshirt' %}
            <img src="{% static 'grandma/images/tshirt.jpg' %}" alt="T-shirt weather!"/>
            <p>It's {{ f }} degrees out in {{ last_city }}! Put on a t-shirt and get outside Grandma!</p>
        {% endif %}
        {% if output == 'coat' %}
            <img src="{% static 'grandma/images/coat.jpeg' %}" alt="Wear a coat Grandma!"/>
            <p>Gettin chilly! {{ f }} degrees outside in {{ last_city }}, grab a coat Grandma!</p>
        {% endif %}
        {% if output == 'scarf' %}
            <img src="{% static 'grandma/images/scarf.jpeg' %}" alt="Cold cold cold!"/>
            <p>Stay inside or wear a scarf, it's freezing Grandma! {{ f }} degrees out there in {{ last_city }}!</p>
        {% endif %}

    {% endif %}

  </div>
  </body>
</html>
